<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<style>
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
}
h2.ex1{
    padding-top: 50px

}
</style>
<body>

<h2 class = "ex1"><center>Movie Booking System</center></h2>
<center>
<form action="" method="post">
    <input type="submit" name="button" value="Sign Up">
    <input type="submit" name="button" value="Login">
    <input type="submit" name="button" value="Continue as Guest">
</form>
    </center>
<br>
<div class="footer">
  <p>For the love of good cinema!!</p>
</div>
</body>
</html>